@charset "utf-8";
/* CSS Document */

html {color:#000;background:#fff;}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {margin:0;padding:0;}
img {border:0;}
cite,em,strong,th{font-style:inherit;font-weight: inherit;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight: normal;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,button,textarea,select{*font-size: 100%;}
body {line-height: 1.5em;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
th{text-align: left;}
blockquote{quotes: none;}
blockquote:before,blockquote:after,{content: '';content: none;}
:link, :visited {text-decoration: none;}
td,th,div{word-break:break-all;word-wrap:break-word}
form{display:inline;}
*{outline:none}

/*清除浮动 代码*/
.cc:after {content: ".";display: block;height:0;clear: both;visibility: hidden;}
.cc {display: inline-block;}/* Hides from IE-mac \*/
* html .cc {height: 1%;}
.cc {display: block;}/* End hide from IE-mac *//*清除浮动 代码*/
.c{clear:both;height:0px;font:0px/0px Arial;overflow:hidden;}

/*通用样式*/
.b{ font-weight:700;}
.w{white-space:nowrap}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.fr{float:right}
.fl{float:left}
.pr{position:relative}
.vt,.vt td{vertical-align:top}

/*字体大小*/
.f9{font-size:10px;}
.f10,small,.small{font-size:11px;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
.f24{font-size:24px;}
.fn,.fn a{font-weight:normal}
.aimg{display:block;text-indent:-2000em;}

/*icon定位*/
.xl-app .fl{height:16px;width:16px;}
.xl-app .i-a{ background-position:0 0;}  /*发帖等文章类*/
.xl-app .i-b{ background-position:0 -20px;}  /*回复类*/
.xl-app .i-c{ background-position:0 -40px;}  /*编辑类*/
.xl-app .i-d{ background-position:0 -60px;}  /*加为好友*/
.xl-app .i-e{ background-position:0 -80px;} /*加入群组*/
.xl-app .i-f{ background-position:0 -100px;} /*群组*/
.xl-app .i-g{ background-position:0 -120px;} /*道具*/
.xl-app .i-h{ background-position:0 -140px;} /*投票*/
.xl-app .i-i{ background-position:0 -160px;} /*视频*/
.xl-app .i-j{ background-position:0 -180px;} /*相册*/
.xl-app .i-k{ background-position:0 -200px;} /*博客*/
.xl-app .i-l{ background-position:0 -220px;} /*收藏帖子*/
.xl-app .i-m{ background-position:0 -240px;} /*商品贴*/
.xl-app .i-n{ background-position:0 -260px;} /*公告*/
.xl-app .i-o{ background-position:0 -280px;} /*推荐*/
.xl-app .i-p{ background-position:0 -300px;} /*收藏板块*/
.xl-app .i-q{ background-position:0 -320px;} /*发表辩论*/
.xl-app .i-r{ background-position:0 -340px;} /*发表悬赏*/
.xl-app .i-s{ background-position:0 -360px;} /*消息*/
.xl-app .i-t{ background-position:0 -380px;} /*解除好友*/
.xl-app .i-y{ background-position:0 -400px;} /*在线*/

/*底部浮动*/
.app-using .app-blog{background-position:10px 4px;}
.app-using .app-post{background-position:10px -16px;}
.app-using .app-photo{background-position:10px -36px;}
.app-using .app-group{background-position:10px -56px;}
.app-using .app-shares{background-position:10px -76px;}
.app-using .app-thread{background-position:10px -96px;}
.app-using .app-forum{background-position:10px -116px;}