@charset "utf-8";
/* CSS Document */
.font1 {
	font-family:黑体; 
	color:#A349A4;
}
.font2 {
	font-family:黑体; 
	font-size:30px; 
	font-weight:bold; 
	color:#A349A4
}
.fsStyle1{
	border:#A349A4 solid 1px;
}
.mainDiv1{
	 overflow:auto;
	 border-width:1.5px;
	 border-style:solid;
	 background-color: #FFFFFF; 
	 border-color: #0066CC;
	 padding:0 0 0 0;
}
.mainDiv2{
	PADDING-TOP:0px;
	PADDING-RIGHT:10px;
	PADDING-LEFT:0px;
	PADDING-BOTTOM:10px;
	overflow:auto;
	border-width:1.5px;
	border-style:solid;
	float:left;
	background-color: #FFFFFF;
	/* border-color: #BBBBBB; */ 
	border-color: #0066CC;
	color：#FF0000;
	margin-top:10px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:10px;
	letter-spacing:1pt;
	text-align:left;
	font-family:宋体;
	font-size:12pt;
	line-height:100%;
	scrollbar-face-color:#DEDEDE;
	scrollbar-base-color:#F5F5F5;
	scrollbar-arrow-color:#D09462;
	scrollbar-track-color:#F5F5F5;
	scrollbar-shadow-color:#EBF5FF;
	scrollbar-highlight-color:#F5F5F5;
	scrollbar-3dlight-color:#C3C3C3;
	scrollbar-darkshadow-Color:#9D9D9D;
}

