*.class

# Package Files #
*.war
*.ear
*.class
/target
/NotCommit
/src/main/WebContent/WEB-INF/classes
/src/main/WebContent/WEB-INF/lib
/test
/testoutput

# Myeclipse Files #
/.settings
/.project
/.classpath
/.mymetadata