body {margin:0px; padding:0px; font-size: 12px;}

form {margin:0;	padding:0;}

img {border:0px;}

a{text-decoration: none;}
a:link {color: #000000;} 
a:visited {color: #333333;} 
a:hover{color: #ae0927;}
a:active {color: #0000ff;}

.f14b {color: #000000; font-size:14px; font-weight:bold;}

.btn{padding-top:3px; border:#ccc 1px solid; background-color:#FFFFFF; font-size:12px;}

.input{height:18px; width:180px; line-height:18px; border:#93C9F0 1px solid;}