body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0; padding:0; font-size:12px;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; list-style:none;font-size:12px;}
h1,h2,h3,h4,h5,h6	{ margin:0; padding:0;}
table,td,tr,th	{ font-size:12px; }

.colorRED {color:red;}
.colorGREEN {color:green;}
.colorBLACK {color:black;}
.textRight {text-align:right;}

A img {border:0}
img,table {border:0;border-collapse:collapse;}
.infoStyle td {padding:1px;font-size:12px;}
A:link,A:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #db0010; TEXT-DECORATION: underline
}

/*主导航和主页面*/
.bodyWidth 		{clear:both;margin-left:auto;margin-right:auto;width:1178px;} /*加边框1000*/
.bodyWidth1 		{clear:both;margin-left:auto;margin-right:auto;width:978px;}
.bodyWidth1000 	{clear:both;margin-left:auto;margin-right:auto;margin-top:3px;width:1180px;}
.bodyWidth980 	{clear:both;margin-left:auto;margin-right:auto;margin-top:3px;width:978px;border-left:1px solid #FF6633;border-right:1px solid #FF6633;border-bottom:1px solid #FF6633;}

.general_box {background:#FFFEF8;height:30px;line-height:30px;border:1px solid #FF6633;margin-top:0px;padding-top:6px;}
/*数据中心*/
#DataContent {margin-top:-4px;}
#DataContent td{font-size:12px;height:20px;padding:0px 1px 0 1px;cursor:default}
#DataContent table A {
	text-align:center;color:#0033FF;
}
#DataContent table A:link {
	TEXT-DECORATION: none;color:#0033FF;
}
#DataContent table A:visited {
	TEXT-DECORATION: none;color:#0033FF;
}
#DataContent table A:hover {
	color: #0033FF;color:#0033FF;
}
/**/
#codenamelist {border:1px solid #CBD6E8;display:block; overflow:auto;}
#codenamelist .codebody {padding:6px 0 0 18px;}
#codenamelist ul {clear:both;height:24px;list-style:none}
#codenamelist ul li {float:left;width:160px;height:24px}
/*内容*/
.HomePageTitle    {width:320px;float:left;}
.HomePageTitle ul {clear:both;width:310px;margin:0;padding:0;height:22px;border-bottom:1px solid #CCCCCC;line-height:22px;}
.HomePageTitle ul li {float:left;}
.HomePageTitle ul li.pt1 {width:40px}
.HomePageTitle ul li.pt2 {width:60px;}
.HomePageTitle ul li.pt3 {width:60px;text-align:right;overflow:hidden}
.HomePageTitle ul li.pt4 {width:70px;text-align:right;overflow:hidden}
.HomePageTitle ul li.pt5 {width:70px;text-align:right;overflow:hidden}


/*分页样式 <div id="page_style"><div class="pg"><a*/
#page_style {margin:5px 0 5px 0;white-space:nowrap;display:inline;}  
#page_style .pg {height:20px;font-size:11px;line-height:13px;text-align:left;} 
#page_style .pg .pgtitle {margin-left:7px;} 
#page_style .pg a,
#page_style .pg a:link,
#page_style .pg a:visited
	{margin:0 1px 0 0;padding:3px 5px 2px 5px;background:#fff;border:1px solid #b2d0ea;font-family: 'Arial,Tahoma';color:#03c;text-decoration:none;zoom:1;} 
#page_style .pg a:hover {background:#3666d4;border:1px solid #2b55af;color:#fff;} 
#page_style .pg a.current 
		{border:1px solid #FF9966;color:#000;font-weight:bold} 
#page_style .pg a.pre{margin:0 5px 0 0;} 
#page_style .pg a.next{margin:0;}
.h{height:55px;}
.h1{height:115px;}
.h2{height:85px;}
