html,body {background:#fff; font-size: 12px;FONT-FAMILY: verdana, Arial, Helvetica,sans-serif;text-align:center;margin:0px;float:center;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td,th, fieldset, label, legend,button,a { margin:0px;padding:0px;font-weight:normal;text-align:center;}
table{border:0;border-collapse:collapse;}
img {border:0}

#logininfo{text-align: right; background-color: #f0f0f0; width:100%; height:23px;line-height:23px;padding:1px 0px;}
#logininfo span{margin-right:5px}
#logininfo form input{line-height:16px;}
#username,#password{width:100px}
#loginbutton{width:50px;text-align:center;margin-left:10px;cursor:hand;}
#logininfo form {text-align: right;}

.bodyWidth980 a{color:#0033FF;font-size:12px;}
.bodyWidth980 .dc{ background-color:#000000;padding-top:5px;}
.STYLE1 {font-size: 13px}
.STYLE2 {color: #000000}
.STYLE4 {color: #FF0000}
.STYLE8 {
	font-size: 15px;
	font-weight: bold;
}
.blank1{font: 0px/0px sans-serif;clear: both;display: block}


#loadingmsg{
	z-index:1000;position:absolute;left:98px;top:373px;background-color:#ffffff;font-size:14px;color:red;
}
.fblue{
	color:blue;
}
.fbold{
	font-weight:bold;
}
.fgrean{
	color:green;
}
.fred{
	color:red;
}

.tdiv,.maindiv{
	width:1038px;
	border:1px #f63 solid;
	margin:0px auto;
	text-align:left;
	font-size:12px;
	clear:both;
}
.tdiv{
	margin-top:5px;
	padding-top:10px;
	padding-bottom:2px;
	height:45px;
	background-color:#fffef8;
}
.tdiv .upt{
	background:url(../images/tip.gif) no-repeat;
	padding-left:20px;
	padding-top:3px;
	float:left;
	height:20px;
	line-height:20px;
}
#bkss{
	padding-left:10px;
	float:left;
	padding-top:3px;
	height:20px;
	line-height:20px;
}
.csb{
	padding-top:5px;
}
#selectdate{width:96px;}
#pageer{
	text-align:right;
	padding-right:10px;
	float:right;
}
#pageer {margin-left:7px;line-height:30px} 
#pageer  a,
#pageer  a:link,
#pageer  a:visited{margin-right:1px;padding:1px 3px;background:#fff;border:1px solid #b2d0ea;font-family: 'Arial,Tahoma';color:#03c;text-decoration:none;line-height:25px;height:25px} 
#pageer  a:hover {background:#3666d4;border:1px solid #2b55af;color:#fff;} 
#pageer  strong{border:1px solid #FF9966;color:#000;padding:1px 3px;margin-right:1px;} 
#pageer  a.pre{margin:0 5px 0 0;} 
#pageer  a.next{margin:0;}
.pmtb{
	margin-top:0px;
	width:100%;
}
.pmxtb{
	overflow-x: scroll;
	overflow-y:hidden;
}
.pmtb td{
	white-space:nowrap;
	line-height:20px;
	
}
.pmtb th{
	text-align:center;
	white-space:nowrap;
}
.mtop10{
	margin-top:10px;
}
#sj{
	overflow-x: auto;
    //overflow-y:hidden;
}
#tth th{
	font-weight:bold;
	line-height:25px;
	border-right:1px #cbd6e8 solid;
	border-bottom:1px #cbd6e8 solid;
}
.mth td{
	border-right:1px #cbd6e8 solid;
	border-bottom:1px #cbd6e8 solid;
	text-align:center;
	padding:0 3px;
}
.trdata td{
	border-right:1px #cbd6e8 solid;
	border-bottom:1px #cbd6e8 solid;
}

.bth td{
	border-right:1px #cbd6e8 solid;
	text-align:center;
}
.order a{
	cursor:hand;
	color:#03f;
}
.bth .aright,.mth .aright{
	text-align: right;
}
.szdata{
	text-align: right;
	padding-right:1px;
}
.f6{
	background-color: #e7efed;
}
.b6{
	background-color: #f0f0f0;
}
.maindiv a{
	color:#03f;
}