/**
 * Based on 'recommend.css';
 * Created by chenzhengtong @ 2014-12-1;
 */

body { margin: 0; }
/*
.rec-main {
  height: 65px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #CACACA;
  box-shadow: 0 -1px 3px #afafaf;
  font: 14px/18px 'microsoft yahei', arial, sans-serif;
}
*/
.rec-main {
  height: 60px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #CACACA;
  box-shadow: 0 -1px 3px #afafaf;
  font: 14px/18px 'microsoft yahei', arial, sans-serif;
  box-sizing: border-box;
}

.rec-logo,
.rec-logo2 {
  width: 91px;
  height: 100%;
  background: url(../images/logo.png) no-repeat left;
  position: absolute;
  left: 15px;
  top: 0;
}

.logoold{background-image: url(../images/logoold.png); }

/*.rec-logo2 { background-image: url(../images/logo2.png); }*/
/*.rec-logo { background-image: url(../images/logo2.png); }*/

.rec-page-btn {
  width: 33px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  outline: none;
}
.rec-prev {
  left: 110px;
  background: url(../images/prev.gif) no-repeat 10px;
}
.rec-next {
  right: 33px;
  background: url(../images/next.gif) no-repeat 10px;
}
.rec-prev:hover,
.rec-next:hover {
  background-position: -33px;
  background-color: #F7F7F7;
}
.rec-disable {
  background-position: -76px !important;
  background-color: transparent !important;
  cursor: default;
}
.rec-item-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 143px;
  height: 100%;
  float: left;
  border-right: 1px solid #EFEFEF;
  overflow: hidden;
}
.rec-item-list li {
  float: left;
  width: 200px;
  height: 100%;
  color: #333;
}
.rec-item-list a {
  height: 100%;
  display: block;
  white-space: nowrap;
  color: #333;
  text-decoration: none;
}
.rec-item-list a:hover { background-color: #F6F6F6; }
.rec-item-line,
.rec-item-pic,
.rec-item-title,
.rec-item-info {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
 *display:inline;
 *zoom:1;
}
.rec-item-line {
  height: 100%;
  width: 1px;
  background-color: #e1e2e3;
  overflow: hidden;
}

/*.rec-item-pic { margin-left: 10px; }*/
.rec-item-pic { 
  margin-left: 10px; 
  vertical-align: top;
  padding-top: 2px;
}

.rec-item-pic img {
  display: block;
  border: none;
}
.rec-item-title {
  margin-left: 10px;
  width: 55%;
  white-space: normal;
}
.rec-item-info {
  margin-left: 10px;
  width: 90%;
  font-size: 12px;
  line-height:20px;
  color: #CDCDCD;
}
.rec-item-title2 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-top:4px;
  text-decoration: underline;
  color: #0054FF;
}
.rec-item-summary {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rec-item-list a:hover .rec-item-title { text-decoration: underline; }
.rec-function {
  width: 31px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.rec-config,
.rec-minimize {
  width: 29px;
  height: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.rec-config {
  background: url(../images/config.gif) no-repeat 9px;
  border-left: 1px dashed #fff;
  border-bottom: 1px solid #EFEFEF;
}
.rec-config:hover { background-position: -25px; }
.rec-config.rec-config-active {
  top: -1px;
  background-position: -25px;
  background-color: #fff;
  border-left: 1px solid #DADADA;
  border-bottom-color: #ccc;
  border-right: 1px solid #DADADA;
  box-shadow: -1px 1px #F3F3F3;
}
.rec-minimize {
  background: url(../images/minimize.gif) no-repeat 9px;
  bottom: 0;
}
.rec-minimize:hover { background-position: -24px; }
.rec-config-pop {
  font-size: 12px;
  width: 145px;
  height: 88px;
  position: absolute;
  right: 0;
  top: -90px;
  border: 1px solid #DADADA;
  color: #686868;
  border-bottom-color: #B6B6B6;
  box-shadow: 0 0 2px #ccc;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #f7f7f7, #f9f9f9 9%, #fff);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0 );
}
.rec-config-option {
  list-style: none;
  margin: 0 10px 0 30px;
  padding: 5px 0 3px;
  border-bottom: 1px dashed #D9D9D9;
  line-height: 22px;
}
.rec-config-option li {
  margin-left: -15px;
  margin-left: -19px\9;
}
.rec-checkbox1 {
  vertical-align: -2px;
  margin: 0;
}
.rec-feedback {
  margin: 10px 0 0 15px;
  padding-left: 22px;
  line-height: 14px;
  font-weight: bold;
  color: #686868 !important;
  display: block;
  background: url(../images/feedback.gif) no-repeat;
  text-decoration: none;
}
.rec-blue .rec-item-list a { color: #2175DD; }
.rec-blue .rec-item-title { text-decoration: underline; }
.rec-blue .rec-config-pop { color: #2383E7; }
