/* Ö÷Ìå¿í¶È980px */
*{margin:0;padding:0;}
body{
font-size:12px;
font-family:verdana, Arial, Helvetica, sans-serif;
background-color:#FFF;
margin:0;
padding:0;color:black;
}
.top{width:980px;margin-left:auto;margin-right:auto;margin-bottom:5px;}
.top .S2 {
	font-size: 20px;
	color: #CC0000;
	font-weight: bold;margin-bottom:6px;
}
.top .S1 {
    margin-top:5px;
	font-size: 36px;
	color: #CC0000;
	font-weight: normal;
	margin-left:15px;
}
.top .S2{
	font-size: 22px;
	color: #CC0000;
	font-weight: normal;
}
.top .S1  L1{
}
.top .S3 {
	font-size: 13px;
	color: #CC0000;
	font-weight: normal;
	margin-top:10px;
	margin-left:15px;
}
.left{
    width:245px;
	float:left;
	height:80px;
}
.right{
    width:732px;
	float:left;
	height:80px;
	overflow:hidden;
}
.main1{
    clear:both;
	width:980px;
	margin-left:auto;margin-right:auto;margin-top:5px;
	text-align:center;
}
#logininfo{
   width:100%;
   background-color:#F0F0F0;
   height:22px;
   font-size:12px;
   text-align:right;
}
#logininfo span{padding-left:15px;}
.login{text-align:center;}
.searchbody {
	clear:both;margin-top:0px;margin-left:auto;margin-right:auto;background-image:url(../images/search_r1_c2.jpg);height:107px;width:980px;text-align:center;
}
.searchleft {
	width:7px;height:107px;float:left;background-image:url(../images/search_r1_c1.jpg);
}
.searchmidd {
	float:left;width:966px;
}

.searchright {
	width:7px;height:107px;float:right;background-image:url(../images/search_r1_c4.jpg);
}
.searchbody .t{margin-top:10px;margin-left:auto;margin-right:auto;text-align:left;height:22px;font-weight:bold;font-size:14px;}
.searchbody .s{
   height:80px;
}
.searchbody .s .w{
   float:left;width:33%;text-align:right;padding-top:20px;
}
.searchbody .s .w1{
   float:left;width:33%;
}
.searchbody .s .w2{
   float:left;width:20%;padding-top:20px;
}
.foot {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #888; PADDING-TOP: 10px; HEIGHT: 40px; TEXT-ALIGN: center;width:980px;margin-left:auto;margin-right:auto;
}
.foot .s{
     color: #0000FF;
}
.foot a{
      COLOR:red;
}
#nav {
	clear:both;
	width:966px;
	margin-left:auto;margin-right:auto;
	text-align:center;
}
#nav ul {
	padding:0px; LIST-STYLE-TYPE: none
}
#nav ul li {
text-align:right;
line-height:25px;
display:block;
float:left;
width:160px;
height:25px;
font-weight:normal;
padding:0px;
margin:0px;
}
#nav .y a{
    color:#FF00FF;
}
#nav A {
	display: block; FONT-SIZE: 13px;height:30px;line-height:30px;text-align:center;color:#0033FF;
}
#nav A:link {
	TEXT-DECORATION: none;color:#0033FF;
}
#nav A:visited {
	TEXT-DECORATION: none;color:#0033FF;
}
#nav A:hover {
	color: #0033FF;color:#0033FF;
}