/*全局页面设计*/
body {
  min-height: 2000px;  
}
body,button, input, select, textarea,
h1 ,h2, h3, h4, h5, h6,a { 
	font-family: Microsoft YaHei,'宋体' , 
		Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;	
}
blockquote footer{
    display: block;
    font-size: 80%;    
    line-height: 1.42857143;
    color: #777;
    letter-spacing:3px;	
}
blockquote footer cite{   
    letter-spacing:2px;
    font-weight:700;	
}
/*导航栏再设计*/
.navbar-static-top {
	margin-bottom: 19px;
}
.nav>li>a:hover {    
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 1.5px solid #1b809e;  
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	padding-left:18px;
    font-weight:700;
    font-size:18px;     
   	color:#1b809e;
}

/*新增类-控制背景*/
.jeebbs-bg-hr{
	filter: alpha(opacity=100,finishopacity=0,style=3);
	width:100%; 
	size:"3"; 
	color:#987cb9;
}
.jeebbs-bg-gray{
	background-color: #eee;
}
.jeebbs-bg-blue{
	background-color: #3d9ac4;
}
.jeebbs-line-hr{
    width:100%;
}
.jeebbs-line-hr b{
    background: #ddd;
    margin-top: 4px;
    display: inline-block;
    width: 45%;
    height: 1px;
    _overflow: hidden;
    vertical-align: middle;
}
.jeebbs-line-hr a{
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    text-align:center;
    font-size:18px;
}
/*新增类-控制盒子*/
.jeebbs-box-gray{	
	margin-bottom:20px;	
	padding: 20px;    
    border: 1px solid #eee;   
    border-left-width: 5px;
    border-radius: 3px;   
}
.jeebbs-box-blue{	
	margin-bottom:20px;	
	padding: 20px;    
    border: 1px solid #eee;   
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #1b809e;
}
