/*数据录入和修改样式*/
.pn-ftable{background-color:#B4CFCF;margin-top:5px;}
.pn-flabel{background-color:#F9FBFD;text-align:right;padding-right:3px;}
.pn-flabel-h{height:27px;}
.pn-fcontent{background-color:#FFFFFF;padding-left:5px;}
.pn-fbutton{background-color:#FFFFFF;text-align:center;}
.pn-fhelp{color:#747474;padding:3px 0px;}
.pn-frequired{color:red}
.pn-fruler{background:url(../img/theme/ruler.gif) repeat-x 1px 6px;}
/*数据列表样式*/
.pn-ltable{background-color:#E2EBEF;margin:5px auto 0px auto;}
.pn-lthead{}
.pn-lthead th{height:27px;background-image:url(../img/theme/msg_bg.jpg);}
.pn-ltbody{background-color:#FFFFFF;}
.pn-ltbody tr{height:25px;}
/*数据列表鼠标经过样式*/
.pn-lhover{background-color:#F2F2F2;}
.pn-lselected{background-color:#d9e8fb;}
/*数据列表没有数据样式*/
.pn-lnoresult{padding:10px;border:#b4cfcf 1px solid;text-align:center;color:red;font-weight:bold;}
/*数据列表批量操作样式*/
.pn-lbopt{margin-top:2px;padding:5px;border:#b4cfcf 1px solid;}
/*数据列表操作链接样式*/
.pn-lopt{text-align:center;}
a.pn-opt{text-decoration:underline;}
a.pn-opt:link {color: #2366A8;}
a.pn-opt:visited {color: #2366A8;}
a.pn-opt:hover{color: #2366A8;}
a.pn-opt:active {color: #2366A8;}
/*分页样式*/
.pn-sp{margin-top:3px;padding:1px 0;height:28px;background-image:url(../img/theme/pbg.jpg);}
/*树的样式*/
.pn-tree{font-size:12px;}
.pn-tree *{word-break:keep-all;white-space:nowrap;}
.pn-tree img{vertical-align:middle;}
.pn-tree-hover{background-color:#F5F5F5;}
.pn-tree-selected{background-color:#DDECEF;}
.pn-tree-checkbox{vertical-align:middle;}